@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100%;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  scrollbar-gutter: stable;
}

::-webkit-scrollbar {
  width: 14px;
}

::-webkit-scrollbar-track {
  background-color: #d6d6d6ef;
}

::-webkit-scrollbar-thumb {
  background-color: #4d4d4d;
  border: 1px solid transparent;
  border-radius: 6px;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #292929;
  border: 1px solid transparent;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 221.2 83.2% 53.3%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 212, 27%, 89%;
    --input: 214.3 31.8% 91.4%;
    --ring: 221.2 83.2% 53.3%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 214 25% 11%;
    --foreground: 0 0% 95%;
    --card: 212, 19%, 16%;
    --card-foreground: 0 0% 95%;
    --popover: 0 0% 9%;
    --popover-foreground: 0 0% 95%;
    --primary: 142.1 70.6% 45.3%;
    --primary-foreground: 144.9 80.4% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 15%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --border: 214, 12%, 27%;
    --input: 240 3.7% 15.9%;
    --ring: 142.4 71.8% 29.2%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.bg-patern {
  @apply bg-[radial-gradient(#e5ebe52d_1px,transparent_1px)] [background-size:40px_40px];
}

.wrapper-main {
  @apply px-6 my-6 pb-3 xs:px-8 xs:my-6 xs:pb-4 sm:px-12 md:px-20 lg:py-4 2xl:px-4;
}

.wrapper-header {
  @apply px-6 py-2 xs:px-8 md:px-20 md:py-2 sm:px-12 lg:px-20 2xl:px-4;
}

.wrapper-footer {
  @apply px-6 py-4 xs:px-8 sm:px-12 md:px-20 2xl:px-4;
}

.wrapper-section {
  @apply my-6 pb-6 md:my-12 md:pb-12;
}

.wrapper-section-about {
  @apply my-6 md:my-12;
}

.title-section {
  @apply mb-6 md:mb-12 text-center text-2xl md:text-4xl font-bold;
}

.centered {
  @apply flex h-screen justify-center items-center;
}

.paragraph {
  @apply ml-8 mb-2;
}

.link {
  @apply hover:underline hover:opacity-60 transition duration-200 ease-out hover:ease-in;
}

